.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal {
display: flex;
}

.modalHidden {
    display: none;
}
.modalVisible {
    display: block;
    position: fixed;
    left: 85%;
    top: 10%;
    z-index: 1;
    background-color: white;
    border: black solid 1px;
    border-radius: 6px;
    border-right-style: none;
}
.mobilePanel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.authButtons {
    display: flex;
    gap: 5px;
}
