.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 5px;
}

.modal {
    display: flex;
}

.modalHidden {
    display: none;
}

.modalVisible {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 6%;
    right: 0;
    z-index: 1;
    background-color: white;
    border: black solid 1px;
}

.modalButton {
    background-color: white;
    border: none;
}

.modalNaviList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

.modalNaviList > li {
    font-size: 20px;
}

.mobilePanel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.authButtons {
    display: flex;
    gap: 5px;
}

.authLoginButton, .authRegisterButton {
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border: none;
    background-color: #43B97F;
    border-radius: 10px;
    width: 65px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.authLoginButton:hover, .authRegisterButton:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.authButtonClicked {
    transition: transform 0.2s ease;
    transform: scale(0.9);
}